In [5]:
import pandas as pd

In [5]:
"""0. From Numpy"""
import numpy as np


def from_numpy(array):
    """Creates a pd.DataFrame from a np.ndarray:
        array is the np.ndarray from which you should create the pd.DataFrame.
    The columns of the pd.DataFrame should be labeled in alphabetical order
        and capitalized. There will not be more than 26 columns.
    Returns: the newly created pd.DataFrame."""
    columns = [chr(i) for i in range(65, 65 + array.shape[1])]

    df = pd.DataFrame(array, columns=columns)
    return df

In [6]:
import numpy as np
# from_numpy = __import__('0-from_numpy').from_numpy

np.random.seed(0)
A = np.random.randn(5, 8)
print(from_numpy(A))
B = np.random.randn(9, 3)
print(from_numpy(B))

          A         B         C         D         E         F         G  \
0  1.764052  0.400157  0.978738  2.240893  1.867558 -0.977278  0.950088
1 -0.103219  0.410599  0.144044  1.454274  0.761038  0.121675  0.443863
2  1.494079 -0.205158  0.313068 -0.854096 -2.552990  0.653619  0.864436
3  2.269755 -1.454366  0.045759 -0.187184  1.532779  1.469359  0.154947
4 -0.887786 -1.980796 -0.347912  0.156349  1.230291  1.202380 -0.387327

          H
0 -0.151357
1  0.333674
2 -0.742165
3  0.378163
4 -0.302303
          A         B         C
0 -1.048553 -1.420018 -1.706270
1  1.950775 -0.509652 -0.438074
2 -1.252795  0.777490 -1.613898
3 -0.212740 -0.895467  0.386902
4 -0.510805 -1.180632 -0.028182
5  0.428332  0.066517  0.302472
6 -0.634322 -0.362741 -0.672460
7 -0.359553 -0.813146 -1.726283
8  0.177426 -0.401781 -1.630198

In [7]:
"""1. From Dictionary"""
data = {
    'First': [0.0, 0.5, 1.0, 1.5],
    'Second': ['one', 'two', 'three', 'four']
}

df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])

In [9]:
# df = __import__('1-from_dictionary').df

print(df)

   First Second
A    0.0    one
B    0.5    two
C    1.0  three
D    1.5   four

In [2]:
"""2. From File"""
def from_file(filename, delimiter):
    """Loads data from a file as a pd.DataFrame:
        filename is the file to load from
        delimiter is the column separator
        Returns: the loaded pd.DataFrame."""
    df = pd.read_csv(filename, delimiter=delimiter)

    return df

In [ ]:
from google.colab import drive
drive.mount('/Data')

In [7]:
# from_file = __import__('2-from_file').from_file

df1 = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
print(df1.head())
df2 = from_file('/content/drive/MyDrive/Data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')
print(df2.tail())

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040    NaN    NaN    NaN    NaN           NaN                NaN
2  1417412100    NaN    NaN    NaN    NaN           NaN                NaN
3  1417412160    NaN    NaN    NaN    NaN           NaN                NaN
4  1417412220    NaN    NaN    NaN    NaN           NaN                NaN

   Weighted_Price
0           300.0
1             NaN
2             NaN
3             NaN
4             NaN
          Timestamp     Open     High      Low    Close  Volume_(BTC)  \
4363452  1587513360  6847.97  6856.35  6847.97  6856.35      0.125174
4363453  1587513420  6850.23  6856.13  6850.23  6850.89      1.224777
4363454  1587513480  6846.50  6857.45  6846.02  6857.45      7.089168
4363455  1587513540  6854.18  6854.98  6854.18  6854.98      0.012231
4363456  1587513600  6850.60  6850.60  6850.60  6850.60      0.014436

         Volume_(Currency)  Weighted_Price
4363452         858.128697     6855.498790
4363453        8396.781459     6855.763449
4363454       48533.089069     6846.090966
4363455          83.831604     6854.195090
4363456          98.896906     6850.600000

In [12]:
"""Task 3. Rename
Rename the column Timestamp to Datetime.
Convert the timestamp values to datatime values.
Display only the Datetime and Close columns."""
# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
df.rename(columns={'Timestamp': 'Datetime'}, inplace=True)

df['Datetime'] = pd.to_datetime(df['Datetime'], unit='s')

df = df[['Datetime', 'Close']]

print(df.tail())

                   Datetime    Close
2099755 2019-01-07 22:02:00  4006.01
2099756 2019-01-07 22:03:00  4006.01
2099757 2019-01-07 22:04:00  4006.01
2099758 2019-01-07 22:05:00  4005.50
2099759 2019-01-07 22:06:00  4005.99

In [13]:
"""4. To Numpy
take the last 10 rows of the columns High and Close and
convert them into a numpy.ndarray."""
# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

A = df_selected = df[['High', 'Close']].tail(10)

A = df_selected.to_numpy()

print(A)

[[4009.54 4007.01]
 [4007.01 4003.49]
 [4007.29 4006.57]
 [4006.57 4006.56]
 [4006.57 4006.01]
 [4006.57 4006.01]
 [4006.57 4006.01]
 [4006.01 4006.01]
 [4006.01 4005.5 ]
 [4006.01 4005.99]]

In [18]:
# Task 5. Slice
"""slice the pd.DataFrame along the columns High, Low, Close, and Volume_BTC,
    taking every 60th row."""
# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df = df[['High', 'Low', 'Close', 'Volume_(BTC)']].iloc[::60]

print(df.tail())

            High      Low    Close  Volume_(BTC)
2099460  4020.08  4020.07  4020.08      4.704989
2099520  4020.94  4020.93  4020.94      2.111411
2099580  4020.00  4019.01  4020.00      4.637035
2099640  4017.00  4016.99  4017.00      2.362372
2099700  4014.78  4013.50  4014.72      1.291557

In [20]:
# Task 6. Flip it and Switch it
"""Alter the pd.DataFrame such that the rows and columns are transposed
and the data is sorted in reverse chronological order."""

# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df = df.T

df.sort_index(ascending=False, inplace=True)

print(df.tail(8))

                        0             1             2             3        \
Weighted_Price     3.000000e+02           NaN           NaN           NaN
Volume_(Currency)  3.000000e+00           NaN           NaN           NaN
Volume_(BTC)       1.000000e-02           NaN           NaN           NaN
Timestamp          1.417412e+09  1.417412e+09  1.417412e+09  1.417412e+09
Open               3.000000e+02           NaN           NaN           NaN
Low                3.000000e+02           NaN           NaN           NaN
High               3.000000e+02           NaN           NaN           NaN
Close              3.000000e+02           NaN           NaN           NaN

                        4             5             6             7        \
Weighted_Price              NaN           NaN           NaN  3.000000e+02
Volume_(Currency)           NaN           NaN           NaN  3.000000e+00
Volume_(BTC)                NaN           NaN           NaN  1.000000e-02
Timestamp          1.417412e+09  1.417412e+09  1.417412e+09  1.417412e+09
Open                        NaN           NaN           NaN  3.000000e+02
Low                         NaN           NaN           NaN  3.000000e+02
High                        NaN           NaN           NaN  3.000000e+02
Close                       NaN           NaN           NaN  3.000000e+02

                        8             9        ...       2099750  \
Weighted_Price              NaN           NaN  ...  4.007993e+03
Volume_(Currency)           NaN           NaN  ...  1.819998e+04
Volume_(BTC)                NaN           NaN  ...  4.540920e+00
Timestamp          1.417412e+09  1.417413e+09  ...  1.546898e+09
Open                        NaN           NaN  ...  4.009540e+03
Low                         NaN           NaN  ...  4.007000e+03
High                        NaN           NaN  ...  4.009540e+03
Close                       NaN           NaN  ...  4.007010e+03

                        2099751       2099752       2099753       2099754  \
Weighted_Price     4.003925e+03  4.005441e+03  4.006561e+03  4.006419e+03
Volume_(Currency)  3.784576e+04  4.741754e+04  3.395870e+04  2.784951e+04
Volume_(BTC)       9.452163e+00  1.183828e+01  8.475772e+00  6.951222e+00
Timestamp          1.546898e+09  1.546898e+09  1.546898e+09  1.546898e+09
Open               4.007000e+03  4.003490e+03  4.006560e+03  4.006570e+03
Low                4.000240e+03  4.003490e+03  4.006560e+03  4.006000e+03
High               4.007010e+03  4.007290e+03  4.006570e+03  4.006570e+03
Close              4.003490e+03  4.006570e+03  4.006560e+03  4.006010e+03

                        2099755       2099756       2099757       2099758  \
Weighted_Price     4.006390e+03  4.006017e+03  4.006004e+03  4.005720e+03
Volume_(Currency)  1.355343e+04  3.614083e+03  4.775647e+03  1.081424e+04
Volume_(BTC)       3.382954e+00  9.021637e-01  1.192123e+00  2.699700e+00
Timestamp          1.546899e+09  1.546899e+09  1.546899e+09  1.546899e+09
Open               4.006010e+03  4.006010e+03  4.006010e+03  4.006010e+03
Low                4.006000e+03  4.006000e+03  4.006000e+03  4.005500e+03
High               4.006570e+03  4.006570e+03  4.006010e+03  4.006010e+03
Close              4.006010e+03  4.006010e+03  4.006010e+03  4.005500e+03

                        2099759
Weighted_Price     4.005746e+03
Volume_(Currency)  7.021184e+03
Volume_(BTC)       1.752778e+00
Timestamp          1.546899e+09
Open               4.005510e+03
Low                4.005510e+03
High               4.006010e+03
Close              4.005990e+03

[8 rows x 2099760 columns]

In [22]:
# Task 7. Sort
"""Sort the pd.DataFrame by the High price in descending order."""

# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df = df.sort_values('High', ascending=False)

print(df.head())

          Timestamp      Open      High       Low     Close  Volume_(BTC)  \
1543350  1513514220  19891.99  19891.99  19891.98  19891.98      3.323210
1543352  1513514340  19891.99  19891.99  19891.98  19891.98      9.836946
1543351  1513514280  19891.99  19891.99  19891.98  19891.98      8.172155
1543349  1513514160  19891.00  19891.99  19890.99  19891.99      1.336512
1543353  1513514400  19891.99  19891.99  19876.22  19884.99     19.925151

         Volume_(Currency)  Weighted_Price
1543350       66105.250870    19891.984712
1543352      195676.363110    19891.983294
1543351      162560.403740    19891.987528
1543349       26584.930278    19891.272886
1543353      396292.881750    19889.078007

In [24]:
# Task 8. Prune
"""Remove the entries in the pd.DataFrame where Close is NaN."""

# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df = df.dropna(subset=['Close'])

print(df.head())

       Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)  \
0     1417411980  300.0  300.0  300.0  300.0      0.010000            3.00000
7     1417412400  300.0  300.0  300.0  300.0      0.010000            3.00000
51    1417415040  370.0  370.0  370.0  370.0      0.010000            3.70000
77    1417416600  370.0  370.0  370.0  370.0      0.026556            9.82555
1436  1417498140  377.0  377.0  377.0  377.0      0.010000            3.77000

      Weighted_Price
0              300.0
7              300.0
51             370.0
77             370.0
1436           377.0

In [25]:
# Task 9. Fill
"""Fill in the missing data points in the pd.DataFrame.
The column Weighted_Price should be removed.
missing values in Close should be set to the previous row value.
missing values in High, Low, Open should be set to the same row’s Close value
missing values in Volume_(BTC) and Volume_(Currency) should be set to 0."""

# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df = df.drop(columns=['Weighted_Price'])

df['Close'].fillna(method='ffill', inplace=True)

for column in ['High', 'Low', 'Open']:
    df[column].fillna(df['Close'], inplace=True)

for column in ['Volume_(BTC)', 'Volume_(Currency)']:
    df[column].fillna(0, inplace=True)


print(df.head())
print(df.tail())

    Timestamp   Open   High    Low  Close  Volume_(BTC)  Volume_(Currency)
0  1417411980  300.0  300.0  300.0  300.0          0.01                3.0
1  1417412040  300.0  300.0  300.0  300.0          0.00                0.0
2  1417412100  300.0  300.0  300.0  300.0          0.00                0.0
3  1417412160  300.0  300.0  300.0  300.0          0.00                0.0
4  1417412220  300.0  300.0  300.0  300.0          0.00                0.0
          Timestamp     Open     High      Low    Close  Volume_(BTC)  \
2099755  1546898520  4006.01  4006.57  4006.00  4006.01      3.382954
2099756  1546898580  4006.01  4006.57  4006.00  4006.01      0.902164
2099757  1546898640  4006.01  4006.01  4006.00  4006.01      1.192123
2099758  1546898700  4006.01  4006.01  4005.50  4005.50      2.699700
2099759  1546898760  4005.51  4006.01  4005.51  4005.99      1.752778

         Volume_(Currency)
2099755       13553.433078
2099756        3614.083168
2099757        4775.647308
2099758       10814.241898
2099759        7021.183546

In [28]:
# Task 10. Indexing
"""Index the pd.DataFrame on the Timestamp column."""
# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df.set_index('Timestamp', inplace=True)

print(df.tail())

               Open     High      Low    Close  Volume_(BTC)  \
Timestamp
1546898520  4006.01  4006.57  4006.00  4006.01      3.382954
1546898580  4006.01  4006.57  4006.00  4006.01      0.902164
1546898640  4006.01  4006.01  4006.00  4006.01      1.192123
1546898700  4006.01  4006.01  4005.50  4005.50      2.699700
1546898760  4005.51  4006.01  4005.51  4005.99      1.752778

            Volume_(Currency)  Weighted_Price
Timestamp
1546898520       13553.433078     4006.390309
1546898580        3614.083168     4006.017232
1546898640        4775.647308     4006.003635
1546898700       10814.241898     4005.719991
1546898760        7021.183546     4005.745614

In [29]:
# Task 11. Concat
"""Index the pd.DataFrames on the Timestamp columns and concatenate them:
Concatenate the start of the bitstamp table onto the top of the coinbase table.
Include all timestamps from bitstamp up to and including timestamp 1417411920.
Add keys to the data labeled bitstamp and coinbase respectively."""

# from_file = __import__('2-from_file').from_file

df1 = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
df2 = from_file('/content/drive/MyDrive/Data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')

df1 = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
df2 = from_file('/content/drive/MyDrive/Data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')

df1.set_index('Timestamp', inplace=True)
df2.set_index('Timestamp', inplace=True)

df2 = df2[df2.index <= 1417411920]

df = pd.concat([df2, df1], keys=['bitstamp', 'coinbase'])

print(df)

                        Open     High      Low    Close  Volume_(BTC)  \
         Timestamp
bitstamp 1325317920     4.39     4.39     4.39     4.39      0.455581
         1325317980      NaN      NaN      NaN      NaN           NaN
         1325318040      NaN      NaN      NaN      NaN           NaN
         1325318100      NaN      NaN      NaN      NaN           NaN
         1325318160      NaN      NaN      NaN      NaN           NaN
...                      ...      ...      ...      ...           ...
coinbase 1546898520  4006.01  4006.57  4006.00  4006.01      3.382954
         1546898580  4006.01  4006.57  4006.00  4006.01      0.902164
         1546898640  4006.01  4006.01  4006.00  4006.01      1.192123
         1546898700  4006.01  4006.01  4005.50  4005.50      2.699700
         1546898760  4005.51  4006.01  4005.51  4005.99      1.752778

                     Volume_(Currency)  Weighted_Price
         Timestamp
bitstamp 1325317920           2.000000        4.390000
         1325317980                NaN             NaN
         1325318040                NaN             NaN
         1325318100                NaN             NaN
         1325318160                NaN             NaN
...                                ...             ...
coinbase 1546898520       13553.433078     4006.390309
         1546898580        3614.083168     4006.017232
         1546898640        4775.647308     4006.003635
         1546898700       10814.241898     4005.719991
         1546898760        7021.183546     4005.745614

[3634661 rows x 7 columns]

In [30]:
# Task 12. Hierarchy
"""Rearrange the MultiIndex levels such that timestamp is the first level:
    Concatenate th bitstamp and coinbase tables from timestamps
        1417411980 to 1417417980, inclusive.
    Add keys to the data labeled bitstamp and coinbase respectively.
    Display the rows in chronological order."""

# from_file = __import__('2-from_file').from_file

df1 = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')
df2 = from_file('/content/drive/MyDrive/Data/bitstampUSD_1-min_data_2012-01-01_to_2020-04-22.csv', ',')

df1.set_index('Timestamp', inplace=True)
df2.set_index('Timestamp', inplace=True)

df1 = df1[(df1.index >= 1417411980) & (df1.index <= 1417417980)]
df2 = df2[(df2.index >= 1417411980) & (df2.index <= 1417417980)]

df = pd.concat([df2, df1], keys=['bitstamp', 'coinbase'])

df = df.swaplevel(0, 1).sort_index()

print(df)

                       Open   High     Low   Close  Volume_(BTC)  \
Timestamp
1417411980 bitstamp  379.99  380.0  379.99  380.00      3.901265
           coinbase  300.00  300.0  300.00  300.00      0.010000
1417412040 bitstamp  380.00  380.0  380.00  380.00     35.249895
           coinbase     NaN    NaN     NaN     NaN           NaN
1417412100 bitstamp  380.00  380.0  380.00  380.00      3.712000
...                     ...    ...     ...     ...           ...
1417417860 coinbase     NaN    NaN     NaN     NaN           NaN
1417417920 bitstamp  380.09  380.1  380.09  380.10      1.503000
           coinbase     NaN    NaN     NaN     NaN           NaN
1417417980 bitstamp  380.10  380.1  378.85  378.85     26.599796
           coinbase     NaN    NaN     NaN     NaN           NaN

                     Volume_(Currency)  Weighted_Price
Timestamp
1417411980 bitstamp        1482.461708      379.995162
           coinbase           3.000000      300.000000
1417412040 bitstamp       13394.959997      380.000000
           coinbase                NaN             NaN
1417412100 bitstamp        1410.560000      380.000000
...                                ...             ...
1417417860 coinbase                NaN             NaN
1417417920 bitstamp         571.285290      380.096667
           coinbase                NaN             NaN
1417417980 bitstamp       10079.364182      378.926376
           coinbase                NaN             NaN

[202 rows x 7 columns]

In [31]:
# Task 13. Analyze
"""Calculate descriptive statistics for all columns in pd.DataFrame except Timestamp."""

# from_file = __import__('2-from_file').from_file

df = from_file('/content/drive/MyDrive/Data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv', ',')

df = df.drop(columns=['Timestamp'])

stats = df.describe()

print(stats)

               Open          High           Low         Close  Volume_(BTC)  \
count  1.990691e+06  1.990691e+06  1.990691e+06  1.990691e+06  1.990691e+06
mean   3.246403e+03  3.247829e+03  3.244856e+03  3.246403e+03  7.849139e+00
std    3.799154e+03  3.801394e+03  3.796761e+03  3.799150e+03  1.873222e+01
min    6.000000e-02  6.000000e-02  6.000000e-02  6.000000e-02  1.000000e-08
25%    4.195800e+02  4.196400e+02  4.195000e+02  4.195700e+02  9.024000e-01
50%    1.014580e+03  1.014890e+03  1.014150e+03  1.014530e+03  2.692900e+00
75%    6.322630e+03  6.324010e+03  6.321090e+03  6.322670e+03  7.600965e+00
max    1.989199e+04  1.989199e+04  1.989198e+04  1.989199e+04  1.563267e+03

       Volume_(Currency)  Weighted_Price
count       1.990691e+06    1.990691e+06
mean        3.600157e+04    3.246341e+03
std         1.401879e+05    3.799078e+03
min         2.641700e-06    6.000000e-02
25%         6.440031e+02    4.195645e+02
50%         3.695642e+03    1.014512e+03
75%         1.972392e+04    6.322550e+03
max         1.997076e+07    1.989199e+04